<div class="panel panel-primary">
	<div class="panel-heading">
		Descripción
	</div>
	<ul class="list-group">
		<div class="" ng-repeat="item in fjson._embedded"> 
			<div ng-repeat="subitem in item">
				<ul class="list-group listBook" ng-repeat="(key, value) in subitem track by key">
					<li> {{key}} : {{value}}</p>
				</ul>
			</div>
		</div>
	  <li class="list-group-item">Numero de Paginas:  {{fjson.page_count}}</li>
	  <li class="list-group-item">Tamaño de Paginas: {{fjson.page_size}}</li>
	</ul>	
</div>

