<h2>List</h2>
<div class="panel panel-primary">
	<div class="panel-heading">
		Descripción
	</div>
	<ul class="list-group">
	  <li class="list-group-item">Cras justo odio</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Numero de Paginas:  {{books.page_count}}</li>
	  <li class="list-group-item">Tamaño de Paginas: {{books.page_size}}</li>
	</ul>
	<div class="" ng-repeat="item in books._embedded.books[0]"> 
		<p>{{item}}</p>
	</div>
</div>
